/* Global Styles */
body {
    background-color: #121212; /* Couleur de fond noire */
    color: #e0e0e0; /* Couleur du texte gris clair */
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  h1, h2, h3 {
    color: #4caf50; /* Couleur des titres vert foncé */
  }
  
  button {
    background-color: #333; /* Couleur de fond des boutons gris foncé */
    color: #fff; /* Couleur du texte des boutons blanc */
  }
  
  button:hover {
    background-color: #555; /* Couleur de fond des boutons au survol gris moyen */
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #333; /* Couleur de fond de la navbar gris foncé */
  }
  
  .navbar-brand, .nav-link {
    color: #e0e0e0; /* Couleur du texte de la navbar gris clair */
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: #4caf50; /* Couleur du texte de la navbar au survol vert foncé */
  }
  
  /* Form Styles */
  .form-control {
    border-color: #4caf50; /* Bordure des champs de formulaire verte */
    background-color: #1e1e1e; /* Couleur de fond des champs de formulaire gris foncé */
    color: #e0e0e0; /* Couleur du texte des champs de formulaire gris clair */
  }
  
  .form-control:focus {
    border-color: #4caf50; /* Bordure des champs de formulaire au focus verte */
    box-shadow: 0 0 0 .2rem rgba(76, 175, 80, .25); /* Ombre verte */
  }
  
  /* Table Styles */
  .table thead th {
    background-color: #333; /* Couleur de fond des en-têtes de table gris foncé */
    color: #e0e0e0; /* Couleur du texte des en-têtes de table gris clair */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #1e1e1e; /* Couleur de fond des lignes paires gris foncé */
  }
  
  .table tbody tr:hover {
    background-color: #2c2c2c; /* Couleur de fond des lignes au survol gris moyen */
  }
  