/* Global Styles */
body {
  background-color: #f8f9fa; /* Couleur de fond gris clair */
  color: #333; /* Couleur du texte gris foncé */
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3 {
  color: #28a745; /* Couleur des titres vert */
}

button {
  background-color: #343a40; /* Couleur de fond des boutons noir */
  color: #fff; /* Couleur du texte des boutons blanc */
}

button:hover {
  background-color: #495057; /* Couleur de fond des boutons au survol gris foncé */
}

/* Navbar Styles */
.navbar {
  background-color: #343a40; /* Couleur de fond de la navbar noire */
}

.navbar-brand, .nav-link {
  color: #fff; /* Couleur du texte de la navbar blanc */
}

.navbar-brand:hover, .nav-link:hover {
  color: #28a745; /* Couleur du texte de la navbar au survol vert */
}

/* Form Styles */
.form-control {
  border-color: #28a745; /* Bordure des champs de formulaire verte */
}

.form-control:focus {
  border-color: #28a745; /* Bordure des champs de formulaire au focus verte */
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25); /* Ombre verte */
}

/* Table Styles */
.table thead th {
  background-color: #343a40; /* Couleur de fond des en-têtes de table noire */
  color: #fff; /* Couleur du texte des en-têtes de table blanc */
}

.table tbody tr:nth-child(even) {
  background-color: #e9ecef; /* Couleur de fond des lignes paires gris clair */
}

.table tbody tr:hover {
  background-color: #f1f1f1; /* Couleur de fond des lignes au survol gris très clair */
}
